// Define variables for your color scheme

// For example:

$green-dark: #35635b;
$green-light: #529471;
$beige: #f8f1d0;
$gold: #c3a655;
$brown: #957009;
$dark-brown: #826516;
$light-beige: #faf7eb;
