<div class="icons-container-caches-species">
<a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20caches.png" alt="icon caches" class="icon-caches"></a>

<a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20species.png" alt="icon species" class="icon-species"></a>
</div>


<div class="container" data-controller="toggle-favorite">
  <div class="container-caches-collection">
    <% @caches.each do |cache| %>
    <div class="card-cache">
      <%= cache.seed_photo == nil ? "" : image_tag("#{cache.seed_photo}") %>
      <div class="card-cache-infos">
        <h2><%= link_to cache.title, cache_path(cache) %></h2>
        <p>@<%= cache.user.username %></p>
        <%= render 'shared/favorite_icon' %>
      </div>
    </div>
    <% end %>



  </div
