// Specific CSS for your home-page

.landing-page {
  background-image: asset-url("forest.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: .85;
}

.landing-page h1 {
  font-size: 50px;
  color: $beige;
  padding-bottom: 10px;
}

.landing-page h2 {
  font-size: 25px;
  color: $beige;
  padding-bottom: 40px;
}

.btn-ghost {
  font-size: 20px;
  color: #35635B;
  padding: 23px 48px;
  border-radius: 50px;
  background-color: $beige;
  opacity: 0.8;
}
