body {
  margin: 0;
  font-family: Arial;
}
.post-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 100px));
  justify-content:center;
  grid-gap: 0;
}

.post {
  // cursor: pointer;
  position: relative;
  display: block;
}
.post-image {
  margin: 0;
}
.post-image img {
  width: 100%;
  vertical-align: top;
}
