<div class="container">
  <div>
    <% if params[:query] == "" || Species.search_by_name(params[:query]) == [] %>
    <%= render "all_species" %>
    <% else %>
      <%= render "show_species" %>
    <% end %>
  </div>
</div>
