<% if current_user.favorited?(@cache) %>

  <div>
    <%= link_to toggle_favorite_cach_path(@cache), remote: true,
      data: { 'turbo-method': :post } do %>
      <i data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="fa-solid fa-heart-circle-minus fa-2xl"></i>
    <% end %>
  </div>


<% else %>

  <div>
    <%= link_to toggle_favorite_cach_path(@cache), remote: true,
      data: { 'turbo-method': :post } do %>
      <i data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="fa-solid fa-heart-circle-plus fa-2xl"></i>
    <% end %>
  </div>

<% end %>
