<div class="navbar-t">
  <%= link_to image_tag("logo_profile.png", class: "logo-profile"), logs_path %>
  <%= link_to image_tag("logo_map.png", class: "logo-map"), caches_path %>
  <%= link_to image_tag("logo_add_a_log.png", class: "logo-add-a-log"), new_log_path %>
  <%= link_to image_tag("logo_collection.png", class: "logo-collection"), favorites_caches_path %>
</div>
