<div class="navbar-t">
  <a href="#profile"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20Profile%20%28logs%29.png" alt="profile" class="logo-profile"></a>
  <a href="#map"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20Map%20%28add%20a%20cache%29.png" alt="map" class="logo-map"></a>
  <a href="#log"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20Add%20a%20log.png" alt="add log" class="logo-add-a-log"></a>
  <a href="#collection"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20My%20Collection.png" alt="my collection" class="logo-collection"></a>
</div>
