<% if cache.photos.attached? %>
  <% cache.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 200 %>
  <% end %>
<% end %>

<p><strong><%= link_to cache.title, cache_path(cache) %></strong></>
<p><%= cache.user.email %></p>
<p><%= cache.found_on.strftime('%b %d, %Y') %></p>
