<% if cache.photos.attached? %>
  <% cache.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 200 %>
  <% end %>
<% end %>

<h2><%= link_to cache.user.email, cache_path(cache) %></h2>
<p><%= cache.found_on.strftime('%b %d, %Y') %></p>
