<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<div class="container">
  <div id="map">
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div id="static"></div>
</div>

<style>
#container {
  width: 600px;
  height: 400px;
  margin: 20px 0;
  display: grid;
}
#map {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
}
#static {
  background-image: url("https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-73.60488,45.53257,10/600x400?access_token=<%= ENV['MAPBOX_API_KEY'] %>");
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}
</style>
