<div id="map-container">
  <%= render "map" %>
  <div id="static"></div>
  <%= link_to "+", new_cache_path, id: "new-cache-link" %>
</div>
<div class="mx-4 position-relative">
  <i class="fa-regular fa-square-plus fa-2xl position-absolute bottom-50 start-0 text-success" id="plus-link"></i>
</div>
