<div id="map-container">
  <%= render "map" %>
  <div id="static"></div>
  <%= link_to "+", new_cache_path, id: "new-cache-link" %>
</div>
<div class="position-relative">
  <div>
    <i class="fa-regular fa-square-plus fa-xl position-absolute bottom-8 start-0 text-success" id="plus-link"></i>
  </div>
  <div>
    <a class="btn btn-outline-secondary position-absolute bottom-3" href="/users/sign_in">sign in</a>
  </div>
</div>
