<div id="sm-map-container">
  <%= render "shared/back" %>
  <%= render 'map' %>
  <div id="sm-static"></div>
</div>

<br>
<div class="form-log">
  <h1 style="font-size: 20px;">Add A Cache</h1>
</div>
<%= render 'form' %>
<%= render '/shared/foragr_navbar' %>
