<div class="container mt-5">
  <p> user:<%= @cache.user.email %> </p>
  <p> found on:<%= @cache.found_on %></p>
  <p> cache id:<%= @cache.id %></p>
  <%= image_tag @cache.seed_photo, style: "width: 200px; height: 200px;" %>
</div>
