.popup-title {
  color: $brown-cache-card-text;
  font-style: bold;
  text-decoration: none;
  font-family: $headers-font;
  border: none;
  line-height: normal;
}

.popup-title:active {
  transform: scale(0.98);
  text-decoration: none;
  color: $brown-cache-card-text;
}

.popup-green-text {
  color: $green-dark;
  font-family: $body-font;
}

.emph {
  font-weight: bolder;
  font-size: larger;
}

.popup {
  display: flex;
  border-radius: 20px;
  background-color: $brown-cache-card-text;
}
