.popup {
  display: flex;
  border-radius: 20px;
}

.popup-title {
  color: $brown-cache-card-text;
  font-style: bold;
  text-decoration: none;
  font-family: $headers-font;
  border: none;
  max-width: 150px;
}

.popup-username {
  color: $brown-cache-card-text;
  font-family: $body-font;
  font-size: smaller;
  margin-bottom: 0;
}

.popup-species {
  font-family: $body-font;
  color: $green-dark;
  text-align: center;
}

.mapboxgl-popup-close-button {
  z-index: 2;
}
