.master-container {
  display: flex;
  padding-inline: 3%;
  flex-direction: column;
  padding-bottom: 70px;
  word-break: break-word;
}

.master-container-log-show {
  display: flex;
  padding-inline: 5%;
  flex-direction: column;
  padding-bottom: 70px;
  padding-top: 10px;
  word-break: break-word;
}

.hw {
  padding-bottom: 100px;
}

body {
  background-color: $beige;
}
