.fav-icon-cache a {
  color: $dark-brown;
}

.icons-container-caches-species {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
  // height: 50px;
  align-items: flex-end;
}

.icon-caches {
  width: 20px;
}

.icon-species {
  width: 20px;
}

.icon-edit {
  width: 32px;
}

.icon-delete {
  width: 30px;
}
