#map {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  visibility: hidden;
}

#map-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;

  #static {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  #map {
    height: 100vh;
  }
}

#sm-map-container {
  width: 100%;
  height: 200px;
  margin: 0;
  display: grid;

  #sm-static {
    width: 100%;
    height: 200px;
    grid-column: 1;
    grid-row: 1;
  }

  #map {
    height: 200px;
  }
}
