// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// @import "tom-select/dist/css/tom-select.css";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "shared/index";

// Resetting defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
