<div class="navbar-t">
  <a href="#profile"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20Profile%20%28logs%29.png" alt="profile" class="logo-profile"></a>
  <a href="#map"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20Map%20%28add%20a%20cache%29.png" alt="map" class="logo-map"></a>
  <a href="#log"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20Add%20a%20log.png" alt="add log" class="logo-add-a-log"></a>
  <a href="#collection"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669260079/FORAGR/Logo%20-%20My%20Collection.png" alt="my collection" class="logo-collection"></a>
</div>


<div>BUTTONS <br>


<a class="btn btn-create-your-own-cache" href="#">Create your own cache</a>
</div> <br>

<div>
<a class="btn btn-add-cache-to-my-collection" href="#">Add cache to my collection</a>
</div> <br>

<div>
<a class="btn btn-add-species-to-my-collection-cache" href="#">Add species to my collection</a>
</div> <br>

<div>
<a class="btn btn-add-a-comment" href="#">Add a comment</a>
</div> <br>

<div>
<a class="btn btn-add-a-cache" href="#">Add a cache</a>
</div> <br>

<div>
<a class="btn btn-add-species-to-your-collection-show" href="#">Add species to your collection</a>
</div> <br>

<div>
<a class="btn btn-add-a-log" href="#">Add a log</a>
</div> <br>




<div>ICONS <br>


<a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20caches.png" alt="icon caches" class="icon-caches"></a>
</div>

<div>
<a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20species.png" alt="icon species" class="icon-species"></a>
</div>

<br>

<div>
<a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264834/FORAGR/ICON%20-%20edit.png" alt="icon edit" class="icon-edit"></a>
</div>

<div>
<a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264834/FORAGR/ICON%20-%20delete.png" alt="icon delete" class="icon-delete"></a>
</div>





<div>BOTTOM MODAL <br>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
</style>
</head>
<body>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Click to open bottom card!</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header" style="align-self: center;">
      <span class="close"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669308855/FORAGR/ICON%20-%20arrow%20down%20cache%20modal.png" alt="arrow down gold" style="width: 30px"></span>
      <h2></h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>

</div>


<div>CARDS LOG PROFILE <br>

<div class="card-log-profile">
  <img src="https://ca.slack-edge.com/T02NE0241-U044LJM9RL5-ce7c2bd0f2fc-512" />
  <div class="card-log-profile-infos">
    <h2>@frauzino_the_4ager</h2>
    <p><strong>Montréal, Qc</strong></p>
  </div>
</div>

</div>




<div>CARDS COLLECTION CACHE <br>

<div class="card-cache">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-cache-infos">
    <h2>Cache name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

</div>

<div>CARDS CACHE ADDED TO YOUR COLLECTION <br>

<div class="card-cache-added-to-collection">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-cache-added-to-collection-infos">
    <h2>Cache name</h2>
    <p>Added to your <strong>collection</strong>!</p>
  </div>

  <div class="icon-added-cache">
  <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669318620/FORAGR/ICON%20-%20added%20cache%20in%20collection.png" alt="icon check gold" style="margin-right: 16px;">
  </div>

</div>

<div>CARDS CACHE DELETED FROM YOUR COLLECTION <br>

<div class="card-cache-deleted-from-collection">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-cache-deleted-from-collection-infos">
    <h2>Cache name</h2>
    <p>Deleted from your <strong>collection</strong>!</p>
  </div>

  <div class="icon-deleted-cache">
  <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669320244/FORAGR/ICON%20-%20delete%20cache%20from%20collection.png" alt="icon check gold" style="margin-right: 16px;">
  </div>

</div>


</div>



<div>CARDS COLLECTION SPECIE <br>

<div class="card-species">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-species-infos">
    <h2>Species name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

</div>


<div>CARDS SPECIES ADDED TO YOUR COLLECTION <br>

<div class="card-species-added-to-collection">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-species-added-to-collection-infos">
    <h2>Species name</h2>
    <p>Added to your <strong>collection</strong>!</p>
  </div>

  <div class="icon-added-species">
  <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669318620/FORAGR/ICON%20-%20added%20species%20in%20collection.png" alt="icon add light green" style="margin-right: 16px;">
  </div>

</div>


</div>

<div>CARDS SPECIES DELETED FROM YOUR COLLECTION <br>

<div class="card-species-deleted-from-collection">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-species-deleted-from-collection-infos">
    <h2>Species name</h2>
    <p>Deleted from your <strong>collection</strong>!</p>
  </div>

  <div class="icon-deleted-species">
  <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669320245/FORAGR/ICON%20-%20delete%20species%20from%20collection.png" alt="icon delete light green" style="margin-right: 16px;">
  </div>

</div>










<div>CARDS LOG ADDED TO YOUR COLLECTION <br>

<div class="card-log-added-to-collection">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-log-added-to-collection-infos">
    <h2>Log number</h2>
    <p>Added to your <strong>profile</strong>!</p>
  </div>

  <div class="icon-added-log">
  <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669322506/FORAGR/ICON%20-%20log%20add.png" alt="icon add dark green" style="margin-right: 16px;">
  </div>

</div>


</div>

<div>CARDS LOG DELETED FROM YOUR COLLECTION <br>

<div class="card-log-deleted-from-collection">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-log-deleted-from-collection-infos">
    <h2>Log number</h2>
    <p>Deleted from your <strong>profile</strong>!</p>
  </div>

  <div class="icon-deleted-log">
  <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669322506/FORAGR/ICON%20-%20log%20delete.png" alt="icon delete dark green" style="margin-right: 16px;">
  </div>

</div>










<div class="hw">Hello world! there is a bit of a padding down there to ease the eye (class .hw)</div>
