<div>
  <h1>Logs#show</h1>
  <div>
    <% if @log.cache == nil %>
      No Image Available
    <% else %>
      <%= image_tag @log.cache.seed_photo, style: "width: 200px;" %>
    <% end %>
  </div>
  <p><%= @log.created_on %></p>
  <p><%= @log.content %></p>
</div>
